:root {
  --wrapper-width: 960px;
}

:root {
  color-scheme: dark light;
  --text-main: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-third: hsl(0, 0%, 70%);

  --bg-main: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 70%);
  --bg-third: hsl(0, 0%, 30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color-scheme: dark; */
    --bg-main: hsl(0, 0%, 0%);
    --bg-secondary: hsl(0, 0%, 20%);
    --bg-third: hsl(0, 0%, 40%);

    --text-main: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 70%);
    --text-third: hsl(0, 0%, 30%);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a,
ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--text-secondary);
}
